@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #0284c7;
  font-family: monospace;
}
#imgVisaoGeral {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

#voltarTopo {
  box-shadow: 0px 0px 3px black;
}
#card {
  box-shadow: 0px 0px 5px black;
}
